{deps, [
        {hackney, "1.13.0"},
        {exometer_core, "1.5.2"}
       ]}.

{minimum_otp_vsn, "18.0"}.

{overrides, [
    {override, exometer_core, [
        % There is version conflict between parse_trans in certifi(comes with hackney)
        % and parse_trans in exometer_core. We override dependencies for exometer_core 
        % to have ability to publish exometer_core to hex.pm.
        {deps, [
            {lager, "~>3.5.0"},
            {parse_trans, "~>3.2.0"}, % to have the same version with certifi
            {folsom, "~>0.8.5"},
            {setup, "~>1.8.2"},
            {hut, "~>1.2.0"}
        ]}
    ]}
]}.

{cover_enabled, true}.
