{deps, [
        {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
        %% lager dependency to override exometer's lager dependency, which does not compile on Erlang 19.
        {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "3.2.1"}}},
        {exometer_core, ".*", {git, "git://github.com/Feuerlabs/exometer_core.git", "5fdd9426713a3c26cae32f644a3120711b1cdb64"}}
       ]}.
{erl_opts, [{parse_transform, lager_transform}]}.
